# Local Site Directories
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata

# Ruby Gems
.bundle
Gemfile.lock

# Log Files
*.log
assets/img/sams-offsec-writeup/*
assets/img/inject-hackthebox-writeup/*
_posts/2023-04-09-Sams-offsec-writeup.md
_posts/2023-04-10-inject-hackthebox-writeup.md
_posts/2024-01-27-PatoAventuras-.md
_posts/2024-02-02-Kitty-tryhackme-writeup.md
assets/img/kitty-tryhackme-writeup/*
imgs/list-demo.html
_posts/plantilla.md
assets/img/ghost-hackthebox-writeup/*.png
.gitignore
_posts/2025-02-15-Ghost-hackthebox-writeup.md
_posts/2025-08-29-Whats-up-pisha-grok-jailbreak.md
.gitignore
assets/img/whats-*/*.png
assets/img/whats-*/*.jpg