# Local Site Directories
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata

# Ruby Gems
.bundle
Gemfile.lock

# Log Files
*.log
assets/img/sams-offsec-writeup/*
assets/img/inject-hackthebox-writeup/*
_posts/2023-04-09-Sams-offsec-writeup.md
_posts/2023-04-10-inject-hackthebox-writeup.md
assets/img/cve-2023-/*
_posts/2023-05-01-cve-2023-2681.md
